In [7]:
# import pd
import pandas as pd

In [13]:
# set file name
file_name = 'Train_onetag_small'
file_type = '.json'

In [5]:
# read csv
#df = pd.read_csv(file)

In [14]:
# read json
df = pd.read_json(file_name+file_type,lines=True)

In [15]:
# check
display(df.shape)
display(df.describe())
display(df.info()) 
display(df.sample(1))

(100000, 5)

                  Id
count  100000.000000
mean    50000.500000
std     28867.657797
min         1.000000
25%     25000.750000
50%     50000.500000
75%     75000.250000
max    100000.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
Id        100000 non-null int64
Title     100000 non-null object
Body      100000 non-null object
Tags      100000 non-null object
oneTag    100000 non-null object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

None

,Id,Title,Body,Tags,oneTag
20334,20335,WPF Master-Detail Data Entry Reusable Control,<p>I am looking for some base window or user c...,wpf crud master-detail,wpf

In [25]:
# compress
file_output = file_name + '.pickle.xz'
df.to_pickle(file_output, compression='xz')

In [26]:
# compare size
! ls -al | grep *.json
! ls -al | grep *.csv
! ls -al | grep *.xz

-rw-r--r--@  1 francis  staff  128359529 10  9 14:40 Train_onetag_small.json
-rw-r--r--   1 francis  staff   29035208 10 11 11:59 Train_onetag_small.json.pickle.xz

In [27]:
# check compressed file
df = pd.read_pickle('df.pickle.xz', compression='xz')
display(df.shape)
display(df.describe())
display(df.info()) 
display(df.sample(1))

(100000, 5)

                  Id
count  100000.000000
mean    50000.500000
std     28867.657797
min         1.000000
25%     25000.750000
50%     50000.500000
75%     75000.250000
max    100000.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
Id        100000 non-null int64
Title     100000 non-null object
Body      100000 non-null object
Tags      100000 non-null object
oneTag    100000 non-null object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

None

,Id,Title,Body,Tags,oneTag
75666,75667,Issues with point of sale module in openERP,<p>I am new to openERP and I am not much famil...,python openerp point-of-sale,python