In [1]:
import pandas as pd

In [4]:
file = '2019-1-1南高齿生产日报表_1.xlsx'

In [16]:
df1 = pd.read_excel(file,sheet_name='410亩',header=1)

In [17]:
df1

,汇流箱,逆变器,发电量,光伏组串数,容量(KW),满负荷小时数,kWh/串,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,HL0101,NB010101,151.366799,8.0,54.72,2.766206,18.920850,NaN,NaN,NaN,NaN,NaN,NaN,244.139999
1,NaN,NB010102,151.924796,8.0,54.72,2.776403,18.990599,NaN,NaN,NaN,NaN,NaN,NaN,245.039993
2,NaN,NB010103,152.433201,8.0,54.72,2.785694,19.054150,NaN,NaN,NaN,NaN,NaN,NaN,245.860001
3,NaN,NB010104,151.788404,8.0,54.72,2.773911,18.973551,NaN,NaN,NaN,NaN,NaN,NaN,244.820007
4,HL0102,NB010201,150.300399,8.0,54.72,2.746718,18.787550,NaN,NaN,NaN,NaN,NaN,NaN,242.419998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,备注：,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df1.query('逆变器 == "NB010101"').发电量

0    151.366799
Name: 发电量, dtype: float64